
:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
      /* font-sizes divid pixel size by 16 */
 /* font-sizes for smallest */
 --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
 --fs-800: 3.5rem;
 --fs-700: 1.5rem;
 --fs-600: 1rem;
 --fs-500: 1rem;
 --fs-400: 0.9375rem;
 --fs-300: 1rem;
 --fs-200: 0.875rem;
  }

  @media (min-width: 35em) {
    :root {
          /* font-sizes divid pixel size by 16 */
          --fs-900: 9.375rem;
          --fs-800: 5rem;
          --fs-700: 2.5rem;
          --fs-600: 1.5rem;
          --fs-500: 1.25rem;
          --fs-400: 1rem;
    }
  }

  @media (min-width: 45em) {
    :root {
          /* font-sizes divid pixel size by 16. only keep the ones that are not yet defined */
          --fs-800: 6.25rem;
          --fs-700: 3.5rem;
          --fs-600: 2rem;
          --fs-500: 1.75rem;
          --fs-400: 1.125rem;
    }
  }

body{
          /* font-families */
          --ff_serif: var(--font-bellefair), serif;
          --ff_sans_cond: var(--font-barlow-condensed), sans-serif;
          --ff_sans_normal:var(--font-barlow), sans-serif;
          font-family: var(--ff_sans_normal);
          font-size: var(--fs-400);
          color: hsl( var(--clr-white) );
          background-color: hsl( var(--clr-dark) );
          line-height: 1.5;
          min-height: 100vh;        
          display: grid;
          grid-template-rows: min-content 1fr;
          overflow-x:hidden
}

/*this is the lobotomised owl it allows padding around all the sibling elements except the first*/
/*can also be this: .flow > * + *  */
.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow_space, 1rem);
}

/* CSS Reset */
/* box sizing*/
*,
*::before,
*::after {
  box-sizing: border-box;
} 

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img, picture{
  max-width: 100%;
  display: block;
} 

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */

/* home */
body.home {
  background-image: url(/assets/home/background-home-mobile.jpg);
background-size: cover;
background-repeat: no-repeat;
  z-index: -1; /* Put it behind everything */
}

@media (min-width: 35em) {
  body.home {
      background-position: center center;
      background-image: url(/assets/home/background-home-tablet.jpg);
  }
}

@media (min-width: 45em) {
  body.home {
      background-image: url(/assets/home/background-home-desktop.jpg);
  }
}

/* destination */
body.destination {
  background-image: url(/assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Put it behind everything */
}

@media (min-width: 35rem) {
 body.destination {
      background-position: center center;
      background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
}

@media (min-width: 45rem) {
body.destination {
      background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
} 


/* crew */
body.crew {
  background-image: url(/assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Put it behind everything */
}

@media (min-width: 35rem) {
  body.crew {
      background-position: center center;
      background-image: url(/assets/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  body.crew {
      background-image: url(/assets/crew/background-crew-desktop.jpg);
     
  }
} 
