

/* ------------------- */
/* Utility classes     */
/* ------------------- */


.flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }
  .container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 1200px;
  }

  .sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }
  .box{background: lightblue; padding: 1rem; border: solid 1px;}

  /* ------------------- */
/* Custom properties   */
/* ------------------- */

.bgDark { background-color: hsl( var(--clr-dark) );}
.bgLight { background-color: hsl( var(--clr-light) );}
.bgWhite { background-color: hsl( var(--clr-white) );}
.fgDark { color: hsl( var(--clr-dark) );}
.fgLight { color: hsl( var(--clr-light) );}
.fgWhite { color: hsl( var(--clr-white) );}

.exampleComponent {
    background-color: hsl( var(--clr-light) / .2 );
}

/* typography */

.letter_spacing_1 { letter-spacing: 4.75px; } 
.letter_spacing_2 { letter-spacing: 2.7px; } 
.letter_spacing_3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs_900 { font-size: var(--fs-900); }
.fs_800 { font-size: var(--fs-800); }
.fs_700 { font-size: var(--fs-700); }
.fs_600 { font-size: var(--fs-600); }
.fs_500 { font-size: var(--fs-500); }
.fs_400 { font-size: var(--fs-400); }
.fs_300 { font-size: var(--fs-300); }
.fs_200 { font-size: var(--fs-200); }


.fs_900,
.fs_800,
.fs_700,
.fs_600 {
    line-height: 1.1;
}

.serif {
    font-family: var(--ff_serif);
  }
  
  .sansCond {
    font-family: var(--ff_sans_cond);
  }
  
  .sansNormal {
    font-family: var(--ff_sans_normal);
  }
 
.flexgrow{
    flex-grow: 1;
}

.flex100{
    flex: 100%;
}

.numbered_title {
    font-family: var(--ff_sans_cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
    span { margin-right: .5em;
        font-weight: 700;  color: hsl( var(--clr-white) / .25);}
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.large_button {
    position:relative;
    display: grid;
    z-index:1;
    place-items: center;
    padding: 0 2em;
  border-radius: 50%;
  text-decoration: none;
  aspect-ratio: 1;
}

/* if youre doing animations and transitions on the transform you dont want to change the height and width always use scale as otherwise its expensive on the browser */
 /* the below sets the opacity aat a different speed to the transition which makes it look smoother */
.large_button::after {
    z-index:-1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:50%;
    background: hsl( var(--clr-white) / .15);
    transition: opacity 500ms linear, transform 500ms ease-in-out;
}
/* use scale for the transition */
.large_button:hover::after,
.large_button:focus::after {
    transform: scale(1.5);
    opacity:1;
}
.primary_navigation{
    display: flex;
    --gap: 8em;
    --underline_gap:2em;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    a {
        text-decoration: none;

    }
    a > span {
        font-weight: 700;
        margin-right: .5em;
    }
}

.underline_indicators > * {
    cursor: pointer;
    padding: var(--underline_gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline_indicators > *:hover,
.underline_indicators > *:focus {
    border-color: hsl( var(--clr-white) / .25);
}

.underline_indicators > .active, 
.underline_indicators > [aria-selected="true"] {
    color:hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1);
}

.tab_group { 
    --gap: 2rem;
}

.dot_indicators > * {
    cursor: pointer;
    padding: 0.5em;
    border: 0;
    background-color: hsl( var(--clr-white) / .25);
    border-radius:50%;
 aspect-ratio: 1;}

.dot_indicators > *:hover,
.dot_indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5);
}
.dot_indicators > .active,
.dot_indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1);
}


.number_indicators > * {
    cursor: pointer;
    padding:0 1.25em;
    background-color: hsl( var(--clr-dark));
    color: hsl( var(--clr-white) / 1);
    border: solid 2px hsl( var(--clr-white)/.25);
    border-radius:50%;
    aspect-ratio: 1;
}

.number_indicators > *:hover,
.number_indicators > *:focus {
    background-color: hsl( var(--clr-dark));
    border: solid 2px hsl( var(--clr-white) / 1);
}
.number_indicators > .active,
.number_indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white)/1);
    color: hsl( var(--clr-dark) / 1);
    border: solid 2px hsl( var(--clr-white));
}