

/* ------------------- */
/* Utility classes     */
/* ------------------- */


.flex {
    display: flex;
    gap: var(--gap, 1rem);
  }
  
  .grid {
    display: grid;
    gap: var(--gap, 1rem);
  }

  .d_block {
    display: block;
}

  .container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
  }



  .sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  .box{background: lightblue; padding: 1rem; border: solid 1px;}

  /* ------------------- */
/* Custom properties   */
/* ------------------- */

.bgDark { background-color: hsl( var(--clr-dark) );}
.bgLight { background-color: hsl( var(--clr-light) );}
.bgWhite { background-color: hsl( var(--clr-white) );}
.fgDark { color: hsl( var(--clr-dark) );}
.fgLight { color: hsl( var(--clr-light) );}
.fgWhite { color: hsl( var(--clr-white) );}
.bgTransparent { background-color: transparent; }

.exampleComponent {
    background-color: hsl( var(--clr-light) / .2 );
}

  /* ------------------- */
/* typography */
  /* ------------------- */

.letter_spacing_1 { letter-spacing: 4.75px; } 
.letter_spacing_2 { letter-spacing: 2.7px; } 
.letter_spacing_3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs_900 { font-size: var(--fs-900); }
.fs_800 { font-size: var(--fs-800); }
.fs_700 { font-size: var(--fs-700); }
.fs_600 { font-size: var(--fs-600); }
.fs_500 { font-size: var(--fs-500); }
.fs_400 { font-size: var(--fs-400); }
.fs_300 { font-size: var(--fs-300); }
.fs_200 { font-size: var(--fs-200); }
.fs_900,
.fs_800,
.fs_700,
.fs_600 {
    line-height: 1.1;
}

.serif {
    font-family: var(--ff_serif);
  }
  
  .sansCond {
    font-family: var(--ff_sans_cond);
  }
  
  .sansNormal {
    font-family: var(--ff_sans_normal);
  }
 
.flexgrow{
    flex-grow: 1;
}

.flex100{
    flex: 100%;
}

.numbered_title {
    font-family: var(--ff_sans_cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
    span { margin-right: .5em;
        font-weight: 700;  color: hsl( var(--clr-white) / .25);}
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.large_button {
    position:relative;
    font-size: 2rem;;
    display: inline-grid;
    z-index:1;
    place-items: center;
    padding: 0 2em;
  border-radius: 50%;
  text-decoration: none;
  aspect-ratio: 1;
}

/* if youre doing animations and transitions on the transform you dont want to change the height and width always use scale as otherwise its expensive on the browser */
 /* the below sets the opacity aat a different speed to the transition which makes it look smoother */
.large_button::after {
    z-index:-1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:50%;
    background: hsl( var(--clr-white) / .15);
    transition: opacity 500ms linear, transform 500ms ease-in-out;
}
/* use scale for the transition */
.large_button:hover::after,
.large_button:focus::after {
    transform: scale(1.5);
    opacity:1;
}
/* header and nav */
.logo{
    background-image: url(/assets/shared/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: clamp(3rem, 12vw, 35rem);
    aspect-ratio: 1;
    margin:1.5rem  clamp(1.5rem, 5vw, 3.5rem);
}

@media (max-width: 35rem) {
.mobile_nav_toggle{
    background-image: url("/assets/shared/icon-hamburger.svg");
    display: block;
    position: absolute;
    background-position: center;
    right: 1rem;
    top: 2rem;
    z-index: 2000;
    background-repeat: no-repeat;
    width: 2.5rem;
    aspect-ratio:1;
    background-color: transparent;
    border: 0;
}

.mobile_nav_toggle[aria-expanded="true"] {
    background-image: url("/assets/shared/icon-close.svg");
}
.mobile_nav_toggle :focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
}
}


@media (min-width: 35em) and (max-width: 45em) {
    .primary_navigation a > span {
        display: none;
    }
}

@media (min-width: 35em) {
    .mobile_nav_toggle{
        display: none;
    }
    .primary_navigation {
        padding-inline: clamp(2.5rem, 7vw, 8rem);
    }
}

.primary_header {
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 45em) {   
    .primary_header::after {
        content: '';
        display: block;
        margin-right: -3rem;
        position: relative;
        height: 1px;
        width: 100%;
        background: hsl(var(--clr-white) / .25);
        order: 1;
    }
    
   .primary_header nav {
       order: 2;
   }
   
   .primary_navigation {
       margin-block: 2rem;
   }
   
}

.primary_navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    --underline_gap: 2rem;
    list-style: none;
    margin: 0;
    background: hsl( var(--clr-white) / .1);
    backdrop-filter: blur(2rem);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary_navigation {
        background: hsl( var(--clr-white) / 0.05);
        backdrop-filter: blur(1.5rem);
    }
}

@media (max-width: 35rem) {
    .primary_navigation {
        --underline_gap: .5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        list-style: none;
        padding: min(20rem, 15vh) 2rem;
        margin: 0;
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
}

.primary_navigation a {
    text-decoration: none;
}

.primary_navigation a > span {
    font-weight: 700;
    margin-right: .5em;
} 

.underline_indicators > * {
    cursor: pointer;
    padding: var(--underline_gap, .5rem) 0rem;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline_indicators > * {
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline_indicators > *:hover,
.underline_indicators > *:focus {
    border-color: hsl( var(--clr-white) / .25);
}

.underline_indicators > .active, 
.underline_indicators > [aria-selected="true"] {
    color:hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1);
}

 @media (max-width: 35rem) {

 nav .underline_indicators > * {
        border-bottom: 0;
        border-right: .2rem solid hsl( var(--clr-white) / 0 );
    }
    
  nav .underline_indicators > .active, 
nav .underline_indicators > [aria-selected="true"] {
        color:hsl( var(--clr-white) / 1);
        border-color: hsl( var(--clr-white) / 1);
    }
} 

.dot_indicators > * {
    position:relative;
    cursor: pointer;
    padding: 0.5em;
    border: 0;
    background-color: hsl( var(--clr-white) / .25);
    border-radius:50%;
 aspect-ratio: 1;}

.dot_indicators > *:hover,
.dot_indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5);
}
.dot_indicators > .active,
.dot_indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white) / 1);
}


.number_indicators > * {
    cursor: pointer;
    padding:0 1.25em;
    background-color: hsl( var(--clr-dark));
    color: hsl( var(--clr-white) / 1);
    border: solid 2px hsl( var(--clr-white)/.25);
    border-radius:50%;
    aspect-ratio: 1;
}

.number_indicators > *:hover,
.number_indicators > *:focus {
    background-color: hsl( var(--clr-dark));
    border: solid 2px hsl( var(--clr-white) / 1);
}
.number_indicators > .active,
.number_indicators > [aria-selected="true"] {
    background-color: hsl( var(--clr-white)/1);
    color: hsl( var(--clr-dark) / 1);
    border: solid 2px hsl( var(--clr-white));
}


/* ----------------------------- */
/*Layout        */
/* ----------------------------- */
.grid_container {
    display: grid;
    place-items: center;
    text-align: center;
    padding-inline: 1rem;
    padding-bottom: 4rem;
  }

  .grid-container p:not([class]) {
    max-width: 50ch;
  }

  .numbered_title {
    grid-area: title;
}
  /* destination layout */

  .grid_container__destination {
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid_container__destination .destination_image_wrapper {
    grid-area: image;
    max-width: 60%;
}

.grid_container__destination > .tab_group {
    grid-area: tabs;
}

.grid_container__destination > .destination_info {
    grid-area: content;
}

.destination_meta {
    flex-direction: column;
    border-top: solid 1px hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
}

.destination_image_wrapper {
    position: relative;
    width: 400px;      /* or max-width: 60%; or a responsive value */
    height: 400px;     /* controls image height */
    margin: 0 auto;    /* center if needed */
  }

@media (min-width: 35em) {
    .numbered_title {
        justify-self: start;
        margin-top: 2rem;
    }
    .destination_meta {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.destination-meta p {
    font-size: 1.75rem;
}

  @media (min-width: 45em) {
      .grid_container {
        text-align: left;
          column-gap: var(--container-gap, 2rem);
          grid-template-columns: minmax(2rem, 1fr) minmax(0, 40rem) minmax(0, 40rem) minmax(2rem, 1fr);
      }

      .grid_container__home > *:first-child {
          grid-column: 2;
      }

      .grid_container__home > *:last-child {
          grid-column: 3;
      }
      .grid_container__home {
        padding-bottom: max(6rem, 20vh);
        align-items: end;
    }
    .grid_container__destination {
        align-content: start;
        justify-items:start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid_container__destination .destination_image_wrapper {
        grid-area: image;
        max-width: 80%;
    }

    .destination_meta {
        --gap: min(6vw, 6rem);
        justify-content: start;

    }
    .tab_group {
        display: flex;
        justify-content: center; /* Or space-between, or flex-start */
        gap: 1rem; /* Adds space between each button/tab */
    }
  }

    /* crew layout */
    .crew_role{

        color: hsl( var(--clr-white) / .5);
    }

    .grid_container__crew{
        min-height: 100vh;
        padding-bottom:0;
        --flow-space: 2rem;
        grid-template-areas: 
            'title'
            'image'
            'tabs'
            'content';
            align-items:start;
    }
    
    .grid_container__crew .crew_image_wrapper {
        grid-area: image;
        position:relative;
        width: 400px;      /* or max-width: 60%; or a responsive value */
        height: 400px;     /* controls image height */
        margin: 1rem auto; 
        border-bottom: 0;
        align-self:end;   /* center if needed */
        border-bottom: 1px solid hsl( var(--clr-white) / .1);
    }
    
    .grid_container__crew > .tab_group {
        grid-area: tabs;
    }
    
    .grid_container__crew > .crew_info {
        grid-area: content;
    }

    @media (min-width: 35em) and (max-width: 44.999em) {
        .grid_container__crew {
            align-content: center;
            justify-items:center;
            grid-template-areas: 
                'title'
                'content'
                'tabs'
                'image';
        }
      }

  @media (min-width: 45em) {
    .grid_container__crew {
        justify-items:start;
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';
    }

    .grid_container__crew .crew_image_wrapper {
        grid-area: image;
        width: 600px;      /* or max-width: 60%; or a responsive value */
        height: 600px;  
        position:relative;
        bottom:0;
        max-width: 90%;
        border-bottom: 0;
        align-self:end;
    }
  }

